*.res
*.rsm

Src/iOSDevice64/Debug/Consim
Src/iOSDevice64/Debug/Consim.dSYM
Src/iOSDevice64/Debug/Consim.launchscreen/Assets/AppIcon.appiconset/Contents.json
Src/iOSDevice64/Debug/Consim.launchscreen/Assets/LaunchScreenBackgroundColor.colorset/Contents.json
Src/iOSDevice64/Debug/Consim.launchscreen/Assets/LaunchScreenImage.imageset/Contents.json
Src/iOSDevice64/Debug/Consim.launchscreen/Assets/Contents.json
Src/iOSDevice64/Debug/Consim.info.plist
Src/iOSDevice64/Debug/Consim.entitlements
Src/iOSDevice64/Debug/Consim.launchscreen/LaunchScreen.storyboard
Src/iOSDevice64/Release/Consim.launchscreen/Assets/AppIcon.appiconset/Contents.json
Src/iOSDevice64/Release/Consim.ipa
Src/iOSDevice64/Release/Consim.launchscreen/Assets/Contents.json
Src/iOSDevice64/Release/Consim.entitlements
Src/iOSDevice64/Release/Consim
Src/iOSDevice64/Release/Consim.launchscreen/Assets/LaunchScreenImage.imageset/Contents.json
Src/iOSDevice64/Release/Consim.launchscreen/Assets/LaunchScreenBackgroundColor.colorset/Contents.json
Src/iOSDevice64/Release/Consim.info.plist
Src/iOSDevice64/Release/Consim.launchscreen/LaunchScreen.storyboard

